pandas
numpy
scikit-learn
google-generativeai
streamlit
python-dotenv
tqdm
flask
pymongo
passlib
pandas
numpy
scikit-learn
google-generativeai
streamlit
python-dotenv
tqdm
flask
pymongo
passlib
fastapi
uvicorn
PyJWT
scikit-surprise
wheel
cython
